#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "keys_ja.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/modifiers.h>

&mkp_input_listener { input-processors = <&zip_temp_layer 2 250>; };


/ {
    scroll_inertia_v: scroll_inertia_v {
        compatible = "zmk,input-processor-scroll-inertia";
        #input-processor-cells = <0>;

        /* axis: 0 = 両軸（自由2D）,
                  1 = Y軸のみ（縦スクロール）,
                  2 = X軸のみ（横スクロール） */
        axis      = <1>;
        layer     = <17>;          /* 縦スクロール用のレイヤー番号 */

        /* 後段の zip_scroll_scaler の引数と合わせる */
        scale     = <1>;
        scale-div = <5>;
    };
};

&zip_temp_layer {
    require-prior-idle-ms = <350>;
    excluded-positions = <
        25 // A?
        26 // S?
        27 // D?
        39 // Z?
        33 // J?
        34 // K?
        35 // L?
        36 // ;?
        40 // ／?
    >;
};

/ {
    input_processors {
        zip_scroll_x_scaler: zip_scroll_x_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_HWHEEL>;
            track-remainders;
        };

        zip_scroll_y_scaler: zip_scroll_y_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

/ {
    zip_keybind_keys: zip_keybind_keys {
        compatible = "zmk,input-processor-keybind";
        #input-processor-cells = <0>;
        track_remainders;
        bindings =
            <&kp LEFT_ARROW>,
            <&kp RIGHT_ARROW>,
            <&kp DOWN_ARROW>,
            <&kp UP_ARROW>;

        tick = <10>;
        wait-ms = <0>;
        tap-ms = <0>;
        mode = <2>;
        threshold = <1>;

        // max_threshold = <200>
        // max_pending_activations = <5>
    };
};

// 右トラボ

&pointing_listener {
    scroller_R18 {
        layers = <18>;
        input-processors = <
            &zip_xy_scaler 1 1         // 動きを1倍（有効）に戻す
            &zip_xy_to_scroll_mapper
            &zip_scroll_x_scaler 1 5
            &zip_scroll_y_scaler 0 3
        >;
    };

    scroller_R17 {
        layers = <17>;
        input-processors = <
            &zip_xy_scaler 1 1         // 動きを1倍（有効）に戻す
            &zip_xy_to_scroll_mapper
            &scroll_inertia_v
            &zip_scroll_x_scaler 0 3
            &zip_scroll_y_scaler 1 5
        >;
    };

    arrowball_L11 {
        status = "okay";
        layers = <11>;
        input-processors = <
            &zip_scroll_x_scaler 3 2 
            &zip_scroll_y_scaler 1 2
            &zip_keybind_keys
        >;

        process-next;
    };

    arrowball_prevent_L11 {
        layers = <11>;
        input-processors = <&zip_xy_scaler 0 1>;
    };

    sodou_torabo_L10 {
        status = "okay";
        layers = <10>;
        input-processors = <
            &zip_xy_scaler 1 1
            &zip_temp_layer 2 1500
            &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        >;
    };

    sodou_torabo_L0 {
        status = "okay";
        layers = <0>;
        input-processors = <
            &zip_xy_scaler 1 1
            &zip_temp_layer 2 1500
            &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        >;
    };
};

//左トラボ

&pointing_device_split_listener {
    scroller_L18 {
        layers = <18>;
        input-processors = <
            &zip_xy_scaler 1 1         // 動きを1倍（有効）に戻す
            &zip_xy_to_scroll_mapper
            &zip_scroll_x_scaler 0 3
            &zip_scroll_y_scaler 1 5
        >;
    };

    scroller_L17 {
        layers = <17>;
        input-processors = <
            &zip_xy_scaler 1 1         // 動きを1倍（有効）に戻す
            &zip_xy_to_scroll_mapper
            &zip_scroll_x_scaler 1 5
            &zip_scroll_y_scaler 0 3
        >;
    };

    sodou_torabo_L11 {
        status = "okay";
        layers = <11>;
        input-processors = <
            &zip_xy_scaler 1 1
            &zip_temp_layer 2 1500
            &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        >;
    };

    arrowball_L10 {
        status = "okay";
        layers = <10>;
        input-processors = <
            &zip_scroll_x_scaler 3 2 
            &zip_scroll_y_scaler 1 2
            &zip_keybind_keys
        >;

        process-next;
    };

    arrowball_prevent_L10 {
        layers = <10>;
        input-processors = <&zip_xy_scaler 0 1>;
    };

    bidou_torabo_L0 {
        status = "okay";
        layers = <0>;
        input-processors = <
            &zip_xy_scaler 1 50
            &zip_temp_layer 2 1500
            &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        >;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        Esc {
            bindings = <&kp ESC>;
            key-positions = <13 14>;
            slow-release;
            layers = <0>;
        };

        BTclr {
            bindings = <&bt BT_CLR>;
            key-positions = <47 48 49 50>;
            layers = <7>;
        };

        x_scroll {
            bindings = <&mo 18>;
            key-positions = <35 34>;
            layers = <2 3>;
            require-prior-idle-ms = <50>;
        };

        BackSpace {
            bindings = <&kp BACKSPACE>;
            key-positions = <58 59>;
            layers = <0>;
        };
    };

    macros {
        exit_AML: exit_AML {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings = <&tog_off 2>;
            label = "exit_AML";
        };

        kp_exit_AML: kp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &exit_AML>;
            label = "KP_exit_AML";
        };
    };

    behaviors {
        // "not_exist" 物理的に存在しないキーを区別するための挙動

        not_exist: not_exist {
            compatible = "zmk,behavior-transparent";
            #binding-cells = <0>;
        };

        // "hm" (Home Row Mods) という名前のカスタム挙動を作る

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;    // ① 時間：200msくらいが標準
            quick-tap-ms = <175>;       // ② 連打時の判定（任意）
            flavor = "tap-preferred";   // ★③ ここが最重要！
            bindings = <&kp>, <&kp>;
        };

        hm_s: hm_s {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        tog_off: toggle_layer_off {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };

        mt_exit_AML_on_tap: mt_exit_AML_on_tap {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp_exit_AML>;

            #binding-cells = <2>;
            tapping-term-ms = <299>;
            quick-tap-ms = <175>;       // ② 連打時の判定（任意）
            flavor = "tap-preferred";   // ★③ ここが最重要！
        };

        ml: ml {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        L0_Main {
            bindings = <
&not_exist              &not_exist                        &not_exist          &not_exist          &not_exist          &not_exist                                                   &not_exist           &not_exist           &not_exist           &not_exist           &not_exist                            &not_exist
&kp LG(LC(LEFT_ARROW))  &hm LC(LEFT_SHIFT) Q              &hm LC(LEFT_ALT) W  &hm LS(LEFT_ALT) E  &hm LS(LEFT_GUI) R  &kp T                                                        &kp Y                &hm RS(RIGHT_GUI) U  &hm RS(RIGHT_ALT) I  &hm RC(RIGHT_ALT) O  &hm RS(RIGHT_CONTROL) P               &kp RG(RC(RIGHT_ARROW))
&kp LA(LS(ESC))         &mt_exit_AML_on_tap LCTRL A       &hm LEFT_ALT S      &hm LEFT_GUI D      &hm LA(LEFT_GUI) F  &hm LC(LEFT_GUI) G  &not_exist          &not_exist           &hm RC(RIGHT_GUI) H  &hm RA(RIGHT_GUI) J  &hm RIGHT_GUI K      &hm RIGHT_ALT L      &mt_exit_AML_on_tap RCTRL MINUS       &kp RA(ESC)
&kp LC(PAGE_UP)         &mt_exit_AML_on_tap LEFT_SHIFT Z  &kp X               &kp C               &kp V               &kp B               &to 0               &to 10               &kp N                &kp M                &kp COMMA            &kp DOT              &mt_exit_AML_on_tap RIGHT_SHIFT FSLH  &kp RC(PAGE_DOWN)
&none                   &none                             &none               &not_exist          &not_exist          &lt 1 SPACE         &mt LANGUAGE_1 TAB  &mt LANGUAGE_2 BSPC  &lt 5 ENTER          &not_exist           &not_exist           &none                &none                                 &none
            >;
        };

        L1_Num {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist       &not_exist   &not_exist    &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &kp N5           &kp N6       &kp N7        &kp N8      &kp N9      &trans
&trans      &trans      &trans      &mo 4       &mo 3       &mo 6       &not_exist  &not_exist  &hm_s PERIOD N0  &kp N1       &kp N2        &kp N3      &kp N4      &trans
&trans      &trans      &trans      &trans      &mo 5       &mo 7       &trans      &trans      &kp JP_EQUAL     &kp JP_PLUS  &kp JP_MINUS  &kp JP_AST  &kp SLASH   &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &kp BSPC    &trans           &not_exist   &not_exist    &trans      &trans      &trans
            >;
        };

        L2_AML {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist   &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans       &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &mkp LCLK   &ml 17 MCLK  &mkp RCLK   &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans       &trans      &trans      &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist   &trans      &trans      &trans
            >;
        };

        L3_MML {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist   &not_exist  &not_exist     &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans       &trans      &trans         &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &kp RC(C)   &mkp LCLK   &ml 17 MCLK  &mkp RCLK   &kp RC(V)      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp RC(X)   &trans      &trans       &trans      &kp RC(RS(V))  &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist   &trans      &trans         &trans
            >;
        };

        L4_Cursor {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist        &not_exist                                &not_exist  &not_exist      &not_exist      &not_exist       &not_exist     &not_exist
&trans      &trans      &trans      &trans      &kp LS(LEFT_GUI)  &trans                                    &kp HOME    &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN    &kp END        &trans
&trans      &trans      &trans      &none       &kp LA(LEFT_GUI)  &kp LC(LEFT_GUI)  &not_exist  &not_exist  &kp RC(C)   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp RC(V)      &trans
&trans      &trans      &trans      &trans      &trans            &trans            &trans      &trans      &kp RC(X)   &trans          &trans          &trans           &kp RC(RS(V))  &trans
&trans      &trans      &trans      &not_exist  &not_exist        &none             &trans      &kp DEL     &trans      &not_exist      &not_exist      &trans           &trans         &trans
            >;
        };

        L5_Symbol {
            bindings = <
&not_exist  &not_exist                               &not_exist                 &not_exist                     &not_exist           &not_exist                                   &not_exist        &not_exist    &not_exist           &not_exist            &not_exist                             &not_exist
&trans      &hm LC(LEFT_SHIFT) JP_SQT                &hm LC(LEFT_ALT) JP_DQUOT  &hm LS(LEFT_ALT) LS(NUMBER_1)  &kp JP_LBKT          &kp JP_RBKT                                  &kp JP_YEN        &kp JP_UNDER  &hm RS(RIGHT_ALT) I  &hm RC(RIGHT_ALT) O   &hm RS(RIGHT_CONTROL) LS(NUMBER_5)     &trans
&trans      &mt_exit_AML_on_tap LCTRL JP_AT          &hm LEFT_ALT SEMICOLON     &hm LEFT_GUI LS(NUMBER_4)      &hm_s JP_LT JP_LPAR  &hm_s JP_GT JP_RPAR  &not_exist  &not_exist  &kp LS(NUMBER_3)  &none         &hm RIGHT_GUI K      &hm RIGHT_ALT JP_BQT  &mt_exit_AML_on_tap RCTRL JP_TILDE     &trans
&trans      &mt_exit_AML_on_tap LEFT_SHIFT JP_CARET  &kp JP_AST                 &kp JP_COLON                   &kp JP_LBRACE        &kp JP_RBRACE        &trans      &trans      &kp JP_AMPS       &kp JP_PIPE   &none                &none                 &mt_exit_AML_on_tap RIGHT_SHIFT SLASH  &trans
&trans      &trans                                   &trans                     &not_exist                     &not_exist           &trans               &trans      &trans      &trans            &not_exist    &not_exist           &trans                &trans                                 &trans
            >;
        };

        L6_Func {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist    &not_exist  &not_exist  &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &kp C_MUTE    &kp F1      &kp F2      &kp F3      &kp F4      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &kp C_VOL_UP  &kp F5      &kp F6      &kp F7      &kp F8      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp C_VOL_DN  &kp F9      &kp F10     &kp F11     &kp F12     &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans        &not_exist  &not_exist  &trans      &trans      &trans
            >;
        };

        L7_BT {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist     &not_exist     &not_exist     &not_exist     &not_exist     &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4  &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans         &trans         &trans         &trans         &trans         &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans         &not_exist     &not_exist     &trans         &trans         &trans
            >;
        };

        L8_Blank {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans
            >;
        };

        L9_Blank {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans
            >;
        };

        L10_L_Arrow_R_Torabo {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &to 11      &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans
            >;
        };

        L11_L_Torabo_R_Arrow {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &to 12      &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans
            >;
        };

        L12_L_Blank_R_Blank {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &to 0       &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans
            >;
        };

        L13_Blank {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans
            >;
        };

        L14_Blank {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans
            >;
        };

        L15_Blank {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans
            >;
        };

        L16_Blank {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans
            >;
        };

        L17_Yscroll {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans
            >;
        };

        L18_Xscroll {
            bindings = <
&not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist                          &not_exist  &not_exist  &not_exist  &not_exist  &not_exist  &not_exist
&trans      &trans      &trans      &trans      &trans      &trans                              &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans
&trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans      &trans      &not_exist  &not_exist  &trans      &trans      &trans
            >;
        };
    };
};
