/* config/common.dtsi */

/ {
    input_processors {
        zip_scroll_x_scaler: zip_scroll_x_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_HWHEEL>;
            track-remainders;
        };

        zip_scroll_y_scaler: zip_scroll_y_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

/ {
    zip_keybind_keys: zip_keybind_keys {
        compatible = "zmk,input-processor-keybind";
        #input-processor-cells = <0>;
        track-remainders;
        bindings =
            <&kp LEFT_ARROW>,
            <&kp RIGHT_ARROW>,
            <&kp DOWN_ARROW>,
            <&kp UP_ARROW>;

        tick = <10>;
        wait-ms = <0>;
        tap-ms = <0>;
        mode = <2>;
        threshold = <1>;

        // max_threshold = <200>
        // max_pending_activations = <5>
    };
};
