#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>


&zip_temp_layer {
    require-prior-idle-ms = <350>;
    excluded-positions = <
        25 // A?
        26 // S?
        27 // D?
        39 // Z?
        33 // J?
        34 // K?
        35 // L?
        36 // ;?
        40 // ／?
    >;
};



/ {
    /* 自分の作成したリスナー定義を維持 */
    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors = <&zip_temp_layer 3 10000>;
    };
};


/ {
    input_processors {
        zip_scroll_x_scaler: zip_scroll_x_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_HWHEEL>;
            track-remainders;
        };

        zip_scroll_y_scaler: zip_scroll_y_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

&pointing_listener {
    input-processors = <
        &zip_temp_layer 3 100000
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
    >;

    scroller2 {
        layers = <1>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_x_scaler 0 3
            &zip_scroll_y_scaler 1 10
        >;
    };

    scroller3 {
        layers = <2>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_x_scaler 1 10
            &zip_scroll_y_scaler 0 3
        >;
    };
};




/* 本家の新しい名称 &pointing_listener を使いつつ、
   中身は自分の「軸反転（INVERT）」の設定を適用する */
&pointing_listener {
    input-processors = <
        &zip_temp_layer 3 100000
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
    >;

    scroller2 {
        layers = <1>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_x_scaler 0 3
            &zip_scroll_y_scaler 1 10
        >;
    };

    scroller3 {
        layers = <2>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &zip_scroll_x_scaler 1 10
            &zip_scroll_y_scaler 0 3
        >;
    };
};



&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};
